body{

  /* Background Image Formatting */

  background-image: url("../images/background.jpg");
  height:500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* header image formatting */
.jumbotron{
  margin-top: 75px;
  background: white;
  opacity: .6;
  width: 100%;
  height: 50%;
}

.header{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 150%;
}

/* Question Box Formatting */
.btn{
  margin:20px;
}
}

p{
  color: lightgray;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
}
